@font-face {
font-family:"Roboto";
src: url(fonts/Roboto-Regular.ttf);
@font-face {
    font-family:"Lato";
    src: url(fonts/Lato-Regular.ttf);
}
}
p {
    font-family:"Roboto", Arial, Helvetica;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-family: "Lato", system-ui, 'Segoe UI', 'Open Sans';
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: "Lato", system-ui, 'Segoe UI', 'Open Sans';
    font-weight: bold;
    font-style: normal;
}
#div0 {
    width: 700px;
    border: none;
    background-color: #F1C27B;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    }

#div1 {
    width: 600px;
    border: none;
    background-color: #ffd89c;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}
#div2 {
    width: 600px;
    border: none;
    background-color: #a2cdb0;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}

#div3 {
    width: 600px; 
    border: none;
    background-color: #85a389;
    text-align: center; 
    margin: auto;
    border-radius: 30px;
}

body {
    background-color:gainsboro
}
